<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshuai.mapper.ArticleMapper">
    <resultMap id="getArticleListMap" type="com.xiaoshuai.dto.ListArticleDTO">
        <id column="article_id" property="articleId"></id>
        <result column="article_title" property="articleTitle"></result>
        <result column="category_name" property="categoryName"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="is_top" property="isTop"></result>
        <collection property="tagsName" ofType="string" >
            <result column="tag_name" ></result>
        </collection>
    </resultMap>

    <select id="getArticleList" resultMap="getArticleListMap">
     select
      a.article_id,
      a.article_title,
      b.category_name,
      d.tag_name,
      a.create_time,
      a.update_time,
      a.is_top
      from (
            select
            *
            from
            tb_article
            LIMIT #{current},#{size}

        )a
      inner  join  tb_category b on a.category_id=b.category_id
      inner  join  tb_article_tag c on a.article_id=c.article_id
      inner  join  tb_tag d on c.tag_id=d.tag_id
      <where>
          <if test='articleTitle!=null and articleTitle!="" '>
              a.article_title = #{articleTitle}
          </if>
      </where>

    </select>

    <resultMap id="listArticles" type="com.xiaoshuai.dto.ArticleHomeDTO">
        <id column="article_id" property="articleId"></id>
        <result column="article_title" property="articleTitle"></result>
        <result column="article_cover" property="articleCover"></result>
        <result column="article_content" property="articleContent"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="is_top" property="isTop"></result>
        <result column="create_time" property="createTime"></result>
        <result column="category_name" property="categoryName"></result>
       <collection property="tagDTOList" ofType="com.xiaoshuai.dto.TagDTO">
           <id column="tag_id" property="tagId"></id>
           <result column="tag_name" property="tagName"></result>
       </collection>
    </resultMap>

    
    <select id="listArticles" resultMap="listArticles">
     select
     a.article_id,
     a.article_cover,
     a.article_title ,
     a.article_content,
     a.create_time,
     a.is_top,
     a.category_id,
     b.category_name,
     d.tag_id,
     d.tag_name
     from
     tb_article a,
     tb_category b,
     tb_article_tag c,
     tb_tag d
     where a.category_id=b.category_id and a.article_id=c.article_id
     and c.tag_id=d.tag_id
     order by is_top desc,create_time desc
    LIMIT #{current},10
    </select>

    <select id="listArchives" resultType="com.xiaoshuai.dto.ArchiveDTO">
       select
       a.article_id as id,
       a.article_title,
       a.create_time
       from tb_article   a
       order by a.create_time desc
    </select>

      <resultMap id="listArticlesByConditionResultMap" type="com.xiaoshuai.dto.ArticlePreviewDTO">
            <id column="id" property="id"></id>
          <result column="article_cover" property="articleCover"></result>
          <result column="article_title" property="articleTitle"></result>
          <result column="create_time" property="createTime"></result>
          <result column="category_id" property="categoryId"></result>
          <result column="category_name" property="categoryName"></result>
          <collection property="tagDTOList" ofType="com.xiaoshuai.dto.TagDTO">
              <id column="tag_id" property="tagId"></id>
              <result column="tag_name" property="tagName"></result>
          </collection>
      </resultMap>
    <resultMap id="listTagsByConditionResultMap" type="com.xiaoshuai.dto.ArticlePreviewDTO">
        <id column="id" property="id"></id>
        <result column="article_cover" property="articleCover"></result>
        <result column="article_title" property="articleTitle"></result>
        <result column="create_time" property="createTime"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="category_name" property="categoryName"></result>
        <collection property="tagDTOList" ofType="com.xiaoshuai.dto.TagDTO">
            <id column="tag_id" property="tagId"></id>
            <result column="tag_name" property="tagName"></result>
        </collection>
    </resultMap>
    <select id="listArticlesByCondition" resultMap="listArticlesByConditionResultMap">
      select
      a.article_id as id,
      a.article_cover,
      a.article_title,
      a.create_time,
      a.category_id,
      b.category_name,
      c.tag_name,
      c.tag_id
      from tb_article a ,tb_category b,tb_tag c ,tb_article_tag  d
      where a.category_id=b.category_id
      and  c.tag_id=d.tag_id
      and  a.article_id=d.article_id
      and  b.category_id=#{categoryId}
    </select>
    <select id="listTagsByCondition" resultMap="listTagsByConditionResultMap">
          select
      a.article_id as id,
      a.article_cover,
      a.article_title,
      a.create_time,
      a.category_id,
      b.category_name,
      c.tag_name,
      c.tag_id
      from tb_article a ,tb_category b,tb_tag c ,tb_article_tag  d
      where a.category_id=b.category_id
      and  c.tag_id=d.tag_id
      and  a.article_id=d.article_id
      and  c.tag_id=#{tagId}
    </select>
</mapper>
